/* CSS Stylesheet */

/* Body design */
body {
	margin-right: 20%;
	margin-left: 20%;
	margin-bottom: 2%;
	padding: 0 15px 15px 15px;
	background-image: url("https://i.imgur.com/BUgyPi5.png");
	font-family: 'Source Sans Pro', sans-serif;
}

/* DIVs body and footer background color */
.color-change {
	background-color: #fdfff5;
}

.footer {
	background-color: #353839;
  padding: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(https://cdn.pixabay.com/photo/2016/07/19/04/40/moon-1527501_960_720.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 0px 0px 3px 3px;
}

/* Footer columns */
.footer-left {
	text-align: left;
	float: left;
	color: white;
	width: 50%;
	margin: auto;
}

.footer-right {
	text-align: right;
	float: right;
	color: white;
	width: 50%;
	margin: auto;
}

/* Signature */
.paragraph-footer-left {
	text-align: center;
	float: left;
	color: white;
	margin: auto;
}

/* Table design */
td {
	text-align: center;
	width: 33%;
	background-color: white;
	padding: 10px;
}

table {
	border: 1px solid black;
	border-left: 4px solid #000;
	border-radius: 3px;
	width: 100%;
	background-color: white;
}

/* Table The Road */
table.table-the-road {
	border: none;
	background-color: #d3d3d3;
}

/* Completed green word */
.completed {
	background-color: green;
	color: white;
	font-size: 12px;
}

/* Icons design */
.center {
	display: block;
  margin-left: auto;
  margin-right: auto;
}

/* The title */
h1, h2 {
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 26px; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1; 
	text-align: center;
}

h3 {
	font-family: 'Helvetica Neue', sans-serif; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1; 
	text-align: center;
}

/* H2 with background picture */
h2 {
	background-image: url("https://i.imgur.com/xJFPxCC.jpg");
	background-size: cover;
	padding: 60px;
	border-radius: 3px 3px 0px 0px;
	color: white;
}

h1 {
	color: white;
	background-color: #353839;
}

/* New topnav menu */
.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 3px;
}

.topnav a:hover {
  background-color: red;
  color: white;
  border-radius: 3px;
}

/* New dropdown menu */
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 3px;
}

.dropdown {
  float: left;
  overflow: hidden;
  border-radius: 3px;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  padding: 10px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  border-radius: 3px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
  color:  white;
  border-radius: 3px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 18%;
  z-index: 1;
}

.dropdown-content li {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: 3px;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 3px;
}
